<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- <script src="/jquery/jquery.js"></script> -->
  <script type="text/javascript" src="/script.js"></script>

  <title>The Main</title>
</head>

<body>
  <h1>Main title</h1>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
