<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script type="text/javascript" src="/script.js"></script>

  <title>The Main</title>
</head>

<body>
  <h1>Dig - CS290 - db hw #6</h1>
  <div class="container">
    <div class="status-result">
      <span>DB Transaction Status: </span><span class="transaction-status"></span>
    </div>
    {{{body}}}
  </div>
</body>

</html>
