<h2>Workout Log</h2>

<div>
  <button class="reset-button">Reset Table</button>
</div>

<form id="insertForm">
  <div>
  	<label for="name">Name: </label>
  	<input type="text" name="name" id="workoutName">
    <label for="reps">Reps: </label>
    <input type="text" name="reps" id="workoutReps">
    <label for="weight">Weight: </label>
    <input type="text" name="weight" id="workoutWeight">
  </div>
  <div>
    <label for="date">Date: </label>
    <input type="date" name="date" id="workoutDate">
    <label>Weight type: </label>
    <input type="radio" name="type" value="lb" id="lbType">
    <label for="lbType">lb.</label>
    <input type="radio" name="type" value="kg" id="kgType">
    <label for="kgType">kg</label>
  </div>
  <input type="submit" id="insertWorkout">
</form>

<table class="db-rows">
  <tr class="title-row">
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Date</th>
  </tr>

</table>
