<div>
  <button class="reset-button">Reset Table</button>
</div>

<form id="insertForm">
	<label for="name">Name: </label>
	<input type="text" name="name" id="workoutName">
  <label for="reps">Reps: </label>
  <input type="text" name="reps" id="workoutReps">
  <label for="weight">Weight: </label>
  <input type="text" name="weight" id="workoutWeight">
  <label for="date">Date: </label>
  <input type="date" name="date" id="workoutDate">

  <h4>Weight type</h4>
  <input type="radio" name="type" value="lb" id="lbType">
  <label for="lbType">lb.</label>
  <input type="radio" name="type" value="kg" id="kgType">
  <label for="kgType">kg</label>

  <input type="submit" id="insertWorkout">
</form>

<table class="db-rows">
  <tr>
    <th>name</th>
    <th>reps</th>
    <th>weight</th>
    <th>date</th>
  </tr>

</table>
