<div class="status-result">
  <span>DB Transaction Status: </span><span class="transaction-status"></span>
</div>

<div>
  <button class="reset-button">Reset Table</button>
</div>
<div>
  <button class="get-all-button">Get All Workouts</button>
</div>

<table class="db-rows">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>reps</th>
    <th>weight</th>
    <th>date</th>
  </tr>

</table>
